@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #111111;
  --color-surface: #f9fafb;
}

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased selection:bg-zinc-900 selection:text-white;
  }
}

